- if comment.id
  %div.comment{ id: "comment-#{comment.id}" }
    %hr
    - if can? :destroy, comment
      = link_to "×", comment_path(comment), method: :delete, remote: true, data: { confirm: t('.confirm') }, class: 'close'
    %h5
      = comment.try(:user).try(:full_name)
      %small= comment.updated_at.strftime('%b %e %H:%M')
    %p= comment.body