= simple_form_for @user, :html => { :class => 'form-horizontal' } do |f|
  = f.input :login, autofocus: true
  = f.input :full_name
  = f.input :email
  = f.input :birthday, as: :date
  = f.input :country, :input_html => {:onchange => "Gmaps.loadMaps()"}
  = f.input :address, :input_html => {:onchange => "Gmaps.loadMaps()"}
  = f.input :city, :input_html => {:onchange => "Gmaps.loadMaps()"}
  = f.input :state, :input_html => {:onchange => "Gmaps.loadMaps()"}
  = f.input :zip, :input_html => {:onchange => "Gmaps.loadMaps()"}
  = f.association :user_role, collection: UserRoles.all.map{ |r| [r.name, r.id] }, as: :radio_buttons

  = gmaps4rails(@json)
  .form-actions
    = f.submit nil, :class => 'btn btn-success'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), users_path, :class => 'btn btn-primary'
