- model_class = Advert
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize

Advert tags:
- tag_cloud Advert.tag_counts( limit: 10, order: "count desc"), [] do |tag, c|
  = link_to "#{tag.name}: #{tag.count}", tag_path(tag.name)
%table.table.table-striped
  %thead
    %tr
      %th Opened
      %th
      %th Description
      %th Author
      %th

  %tbody
    - @adverts.each do |advert|
      %tr
        %td= advert.updated_at.strftime('%b %e %H:%M')
        %td= image_tag advert.image.url(:thumb)
        %td= link_to (raw RedCloth.new("#{advert.description.truncate(160, :separator => ' ')}", [:filter_html]).to_html), advert
        %td= User.find(advert.user_id).try(:full_name)
        %td
          - if can? :update, advert
            = link_to t('.edit', :default => t("helpers.links.edit")), edit_advert_path(advert), :class => 'btn btn-mini'
          - if can? :destroy, advert
            = link_to t('.destroy', :default => t("helpers.links.destroy")), advert_path(advert), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

-if can? :create, Advert
  = link_to 'New Advert', new_advert_path, :class => 'btn btn-primary'
