- model_class = Advert
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize
  = image_tag @advert.image.url(:medium)
  %br
  %b Description:
  = @advert.description
  
  .comments
    = render 'comments'
  .comment-form
    = render 'comment'

= link_to 'Edit', edit_advert_path(@advert)
\|
= link_to 'Back', adverts_path
